{% extends 'master.html' %}



{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-4">

            <form action="/incidents/create/" method="POST" class="card card-body">

                <h1>
                    create incidents
                </h1>
                {{error}}

                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-secondary">
                    guardar
                </button>

            </form>

        </div>
    </div>
</main>






{% endblock %}